html{
	background-color: orange;
	font-family: cursive;
	padding: 8px;
    text-align: center;
    transition: all 0.3s linear;
}
.gridline{ 
	margin: 10px 80px;
	height: 50vh;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(35%,1fr));
    grid-template-rows: 1fr;
    grid-auto-flow: row;
}
.team{
	border:1px solid white;
	border-radius:4px;
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	height: 
}
h1{ 
	font-size: 5em;
}
p{
	font-size: 3em;
	margin: 0;
	color: white;
}

.number{
	font-size: 4.5em;
	margin: 20px 0;
	color: black;
	background-color: white;
	width: 22vh;
	border-radius: 4px;
}
.button {
  border: none;
  border-radius: 2em;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-family: cursive;
  margin: 4px 2px;
  cursor: pointer;
}
.green{
	background-color: green;
}
.red {
  background-color: red;
}